# <u> Python Assignment — Basics + NumPy + Pandas + Matplotlib

**Instructions:**
- Write your answers directly in the code cells provided.
- Add comments wherever necessary.
- Run every cell before submission.
- Submit your .ipynb file.

## Part 1 : Python Basics
### Q1. Variables & Data Types
**Create variables to store:**

- Your name
- Your age
- A list of 5 numbers
- A tuple of 3 colors
- A dictionary with keys: "name", "branch", "year"

Print all of them.

### Q2. Conditionals

**Write a program that takes a number as input and prints:**
- "Positive" if number > 0
- "Negative" if number < 0
- "Zero" otherwise

### Q3. Loops

**Write a Python program using a for loop to print numbers from 1 to 20, but:**

- Skip multiples of 3

- Stop the loop when you reach 17

### Q4. Strings

**Given the string:**

In [ ]:
s = "Python Assignment"

Do the following:

1. Convert it to uppercase

2. Reverse the string

3. Count the number of vowels

### Q5. Functions

**Write a function is_prime(n) that returns:**

- True if the number is prime

- False otherwise

Test it with: 7, 15, 23.

### Q6. Lists

Given a list:

numbers = [5, 2, 9, 1, 7, 3]


Do the following:

- Sort the list without using sort()

- Find the sum of all elements

- Remove all odd numbers and print the remaining list

## Part 2 : NumPy
### Q7. NumPy Array Creation

**Create the following using NumPy:**
- A 1D array from 10 to 50
- A 3×3 matrix with values from 1 to 9
- A zero array of size 5
- A random array of shape (2,3)
Print all results.

### Q8. Array Operations
Given:

In [ ]:
import numpy as np
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])

Perform:
- Element-wise addition
- Dot product
- Multiply array a by a scalar (5)

### Q9. NumPy Indexing

**Create an array of numbers 1–20.**
Extract:
- All even numbers
- Values from index 5 to 10
- Every 3rd element

## Part 3 : Pandas
### Q10. DataFrame Creation
**Create a DataFrame with columns:**
- "Name"
- "Marks"
- "Branch"
Add 5 students' data.

### Q11. Data Analysis

**Using the DataFrame created above:**
- Print the top 3 rows
- Print the average marks
- Show the rows where marks > 80

### Q12. CSV Handling

**Download any small CSV file (or create one).**
Tasks:
- Read the CSV using Pandas
- Show the first 5 rows
- Display the column names
- Check if there are missing values

## Part 4 : Matplotlib
### Q13. Line Plot

**Plot a simple line graph for:**

x = [1, 2, 3, 4, 5]

y = [2, 4, 6, 8, 10]

Add title and labels.

### Q14. Bar Chart

**Plot a bar chart of 4 subjects vs marks:**
- Maths – 90
- Physics – 75
- Chemistry – 88
- CS – 95

### Q15. Histogram

Generate 100 random numbers using NumPy.

Plot a histogram using Matplotlib.

**Submission:** Make a copy of this notebook, write your answers in it, and upload the final `.ipynb` file named as ProjectName_RollNo_FullName (Ex: MAML_231124_VashiDiwakar) through the github.